
body{
    background-color: palevioletred;
    background-repeat: no-repeat;
    height:auto;
}.head{
   text-align: center;
}.services-card{
    box-shadow:1px 1px 1px black;
    border-radius: 1px;
    height:200px;
    text-align: center;
    margin:20px;
    padding:5px;
}
.wait{
    text-align: center;
}